{% extends 'core/base.html' %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
        <ul class="nav nav-sidebar">
            <li class="prod-li"><div>О Проекте</div></li>
        {% for articl in articles %}
            <li>
           <a class="{% if articl.category.slug == 'o-proekte' %}project {% endif %}{% if article.title == articl.title %}active{% endif %}" href="{{ articl.get_absolute_url }}">{{ articl.title }}</a>
           </li>
        {% endfor %}
        </ul>
    </div>
    <div class="span9">
          <div class="jumbotron-slider">jkjhk</div>


                    <h2>{{ article.title }}</h2>
                        {{ article.text|safe}}



    </div>
  </div>
</div>

{% endblock %}