{% extends 'core/base.html' %}
{% block title %}{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

        {{ category }}

    </div>
    <div class="span10">

        {% for ref_record in article_list %}
            <!--Blog Post-->
            <div class="row blog blog-medium margin-bottom-40">
                <div class="col-md-7">
                    <h2>{{ ref_record.title }}</h2>
                        {{ ref_record.text|safe}}
                </div>
            </div>
{% endfor %}

    </div>
  </div>
</div>

{% endblock %}