<tbody class="line-tbody">
{% if object_list %}
                {% for line in object_list %}}

                    <tr class="linebet" data-id="{{ line.id }}">
                        <td class="lefttd">
                            <div class="team">Команда 1</div>
                            {% if line.team_one.img  %}<div><img width="90" src="/media/{{ line.team_one.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ line.team_one.country.img }}"></span>{{ line.team_one.name }}</div>
                        </td>
                        <td></td>
                        <td class="centertd">
                            <div>{{ line.discipline.name }}</div>
                            <div>{{ line.turnir.name }}</div><br>
                            <span>{{ line.date_start|date:"j.n.y H:i" }}</span><br><br><br>
                            <a class="link-link" href="{{ line.get_absolute_url }}">Сделать ставку</a><br><br>
                        </td>
                        <td></td>
                        <td class="righttd">
                            <div class="team">Команда 2</div>
                            {% if line.team_two.img  %}<div><img width="90" src="/media/{{ line.team_two.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ line.team_two.country.img }}"></span>{{ line.team_two.name }}</div>
                        </td>
                    </tr>
                    <tr class="rationtr">
                        <td class="lefttd">
                            <div>{{ line.team_one_ration }}</div>
                        </td>
                        <td></td>
                        <td class="centertd">

                        </td>
                        <td></td>
                        <td class="righttd">
                            <div>{{ line.team_two_ration }}</div>
                        </td>
                    </tr>
                    <tr class="margintr"></tr>

                    {% if line.dop_event %}
                    <tr style="display: none;">
                        <td>{{ line.date_start|date:"j.n.y H:i" }}</td>
                        <td>{{ line.discipline.name }}</td>
                        <td><img src="/media/{{ line.team_one.country.img }}"> {{ line.dop_event.name }} </td>
                        <td>{{ line.dop_event.team_one_ration }}</td>
                        <td><img src="/media/{{ line.team_two.country.img }}"> {{ line.dop_event.name }}</td>
                        <td>{{ line.dop_event.team_two_ration }}</td>
                        <td>{{ line.turnir.name }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}
{% else %}
<tr><td style="background: white;border-top: none;"><div class="alert alert-warning">Нет подходящих событий.</div></td></tr>
{% endif %}
              </tbody>