
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="{% static 'djangorpc/js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>

    <script src="{% static 'djangorpc/js/jquery.util.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.rpc.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'chat/js/chat.js' %}"></script>

    <script src="{% url 'jsapi' %}"></script>
    <script>
    $(document).ready(function() {
        $('.chat').slimScroll({alwaysVisible: true, scrollTo: $("#last_messages").height() + $("#new_messages").height() + 'px' });
    });
    </script>
    <script src="{% static 'chat/js/start.js' %}"></script>


    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">
</head>
<body style="margin: 0;">

    <div class="chat">
        <div id="last_messages"></div>
        <div id="new_messages"></div>
    </div>
    {% if user.is_authenticated %}
    <input class="message-js" type="text" value="">
    <input class="send-js" type="button" value="Написать">
    {% endif %}
<!--
<form enctype="multipart/form-data">
    <input class="upload-image-js" name="image" type="file" />
    <a style="display:none;" class="attach-image-js"><img /></a>
</form>
-->
</body>
</html>