{% extends 'core/base.html' %}



{% block content %}


 <div class="tabstwo">

               <input id="tab_1two" class="input-tabstwo" type="radio" name="tabtwo" checked="checked" />
	           <input id="tab_2two" class="input-tabstwo" type="radio" name="tabtwo" />
               <label onclick="javascript:document.location.href='/accounts/login/'" for="tab_1two" class="label-tabstwo" id="tab_l1two">Вход в систему</label>
	           <label onclick="javascript:document.location.href='{% url 'registration' %}'" for="tab_2two" class="label-tabstwo" id="tab_l2two">Регистрация</label>
               <div style="clear:both"></div>


               <div class="tabs_conttwo">
               <div id="tab_c1two">
                   {% if form.errors %}
                  <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
               {% endif %}
               <form class="form-page" action='/accounts/login/' method='post'>{% csrf_token %}
                     <label for="username">Имя пользователя</label><br>
                     <input type="text" name="username" value="" id="username"><br>
                     <label for="password">Пароль</label><br>
                     <input type="password" name="password" value="" id="password"><br>

                     <div class="buttons"><input type="submit" value="Вход в систему" /></div>
                     <input type="hidden" name="next" value="/faq/" />
               </form>
               </div>

               <div id="tab_c2two">

               </div>

               </div>

           </div>

{% endblock %}
{% block footer_auth %}{% endblock %}