{% extends 'mailchimp/base.html' %}
{% block users %}{{ users }}{% endblock %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">Для восстановления пароля, кликните кнопку.<br />
&nbsp;</div>
<center>
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); background-color: rgb(255, 255, 255);">
<div border="0" cellpadding="0" cellspacing="0" style="width:200px;  font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18px; border-radius: 3px; background-color: rgb(109, 198, 221);  text-align: center;">
<div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, sans-serif; font-size: 15px; font-weight: bold; line-height: 15px; padding: 18px 15px 15px;" valign="middle"><a href="https://raiserate.com{% url 'auth_password_reset_confirm' uid token %}"><span style="color:#FFFFFF;">Восстановить пароль</span></a></div>
</div>
</div>
</center>
{% endblock %}