{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% block title %}Восстановление пароля{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6_ col-lg-12 ">
            <h3>Письмо с инструкцией по изменению пароля было отправлено на почту.</h3>
        </div>
    </div>

{% endblock %}

