{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% block title %}Восстановление пароля{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        {% if validlink %}
        
            <form class="form-horizontal" method="post">{% csrf_token %}
                {{ form.non_field_errors }}

                 {{ form.new_password1.errors }}
            <div class="form-group">
                <label for="id_new_password1">Новый пароль</label>
                <input class="form-control" type="password" id="id_new_password1" name="new_password1" value="">
            </p>
            </div>
            {{ form.new_password2.errors }}
            <div class="form-group">
                <label for="id_new_password2">Повторите пароль</label>
                <input class="form-control" type="password" id="id_new_password2" name="new_password2" value="">
            </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <input class="btn btn-default" type="submit" value="Отправить">
                    </div>
                </div>
            </form>

        {% else %}

        <p>Ошибка!</p>
    
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
