{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% block title %}Восстановление пароля{% endblock %}

{% block content_header %}
<div class="col-lg-6_ col-lg-12 ">
                        <h1 class="page-header">
                            Вход
                        </h1>
						<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Вход</span></li> </ol>
</div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6_ col-lg-12 ">

            {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">{{ error }}</div>
            {% endfor %}

            <form class="form-signin col-lg-4" method="post" action=".">
                 {% csrf_token %}

                 <div class="reg-header">
                    <h2>Укажите адрес email:</h2>
                </div>

                    {%  if form.email.errors %}
                       <h5>Пользователь с таким e-mail не существует</h5>
                    {% endif %}
                    <div class="">
                           <div class="form-group">
                               <input type="text" class="form-control" placeholder="Электронный адрес" id="id_email" name="email">
                           </div>
                           <div class="form-group">
                                 <button class="btn btn-lg btn-primary" type="submit">Отправить</button>
                               <input type="reset" value="Отмена" name="cmdcancel" onclick="javascript:document.location.href='{% url 'cabinet-view' %}'" class="btn btn-lg btn-danger">
                           </div>
                    </div>





            </form>
        </div>
    </div>

{% endblock %}
