{% extends 'core/base.html' %}
{% load static from staticfiles %}

{% block title %}Пароль успешно изменен{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <p>Пароль успешно изменен!</p>
            <p><a href="{% url 'auth_login' %}">Войти на сайт</a></p>

        </div>
    </div>
</div>
{% endblock %}
