{% extends 'core/base.html' %}

{% block title %}Регистрация на сайте{% endblock %}

{% block content %}



 <div class="tabstwo">

               <input id="tab_1two" class="input-tabstwo" type="radio" name="tabtwo" />
	           <input id="tab_2two" class="input-tabstwo" type="radio" name="tabtwo"  checked="checked"/>
               <label onclick="javascript:document.location.href='/accounts/login/'" for="tab_1two" class="label-tabstwo" id="tab_l1two">Вход в систему</label>
	           <label onclick="javascript:document.location.href='{% url 'registration' %}'" for="tab_2two" class="label-tabstwo" id="tab_l2two">Регистрация</label>
               <div style="clear:both"></div>


               <div class="tabs_conttwo">
               <div id="tab_c1two">
               </div>

               <div id="tab_c2two">
                {% if yes %}
<div class="alert alert-warning">Вы успешно зарегистрировались! Проверьте свой почтовый ящик и перейдите по ссылке для активации аккаунта!</div>
{% endif %}
               <form class="form-page" action='/accounts/register/' method='post'>{% csrf_token %}
                     <label for="username">Имя пользователя</label><br>
                     <input type="text" name="username" value="" id="username"><br>
                     <label for="password">Пароль</label><br>
                     <input type="password" name="password1" value="" id="password"><br>
                     <label for="email">Адрес электронной почты</label><br>
                     <input type="email" name="email" value="" id="email"><br>

                     <div class="buttons"><input type="submit" value="Регистрация" class="clearfix"></div>
                     <input type="hidden" name="next" value="/faq/" />
               </form>

               </div>

               </div>

           </div>
{% endblock %}
{% block footer_auth %}{% endblock %}



