{% load thumbnail %}

<div class="cl-container" id="settings_contain">
<div class="cl-section clearfix">
<div class="section-header">
<div class="header-content">
<p class="title">Настройки профиля
</p>
<p class="desc">Обновите отображаемое имя, адрес электронной почты и фотографию в профиле
</p>
</div>
</div>
<div class="cl-subsection">
<form  action="{% url 'settings' %}" class="simple_form user" enctype="multipart/form-data" id="user_edit_form" method="post">
{% csrf_token %}
         <fieldset class="clearfix">{{ form.errors }}
                <div class="label-wrapper">
                     <label>Показать имя
                     </label>
                </div>
                <div class="cl-input-container">
                    {{ form.name.errors }}
                     <div class="input string required user_displayname">
                          {{ form.username }}
                          <p class="form_microcopy">Настройте написание вашего имени пользователя с прописных букв.</p>
                     </div>
                </div>
         </fieldset>
     <div class="input string">
         <fieldset class="clearfix">
                <div class="label-wrapper">
                      <label>Адрес электронной почты
                      </label>
                </div>
                {{ form.email.errors }}
                <div class="cl-input-container required">
                      {{ form.email }}
                </div>
         </fieldset>
     </div>
     <div class="input upload">
          <fieldset class="clearfix">
                <div class="label-wrapper">
                      <label for="user_profile_picture">Фотография профиля</label>
                </div>
                <div class="cl-input-container">{{ form.avatar.errors }}
                <div class="upload">
                    {% if avatar %}
                          <img src="{{ avatar|thumbnail_url:'avatar' }}" alt="" />
                    {% else %}
                          <img alt="Ни одно изображение не загружено" class="img_file missing_image" src="//www-cdn.jtvnw.net/images/xarth/form/upload_placeholder.png">
                    {% endif %}
                <div class="input file optional user_profile_image">
                    {{ form.avatar }}
                    <p class="form_microcopy">Максимальный размер: 3 мегабайта. Разрешение: GIF, JPG или PNG. </p>
                </div>
                </div>
                </div>
          </fieldset>
     </div>



<div class="clear" id="settings_buttons">
<button class="primary button " id="user_settings_submit" tabindex="" type="submit"><span>Сохранить изменения
</span>
</button></div>

</form>

</div>

</div>
</div>