{% load thumbnail %}

<div class="cl-container" id="settings_contain">
<div class="cl-section clearfix">
<div class="section-header">
<div class="header-content">
<p class="title">Платежные данные
</p>
<p class="desc">Укажите кошельки для вывода средств
</p>
</div>
</div>
<div class="cl-subsection">
<form  action="{% url 'payment-settings' %}" class="simple_form user" enctype="multipart/form-data" id="user_edit_form" method="post">
 {% csrf_token %}
         <fieldset class="clearfix">
                <div class="label-wrapper">
                     <label>WebMoney
                     </label>
                </div>
                <div class="cl-input-container">
                    {{ form.webmoney.errors }}
                     <div class="input string required user_displayname">
                          {{ form.webmoney }}
                          <p class="form_microcopy">Введите номер R-Кошелька.</p>
                     </div>
                </div>
         </fieldset>
     <div class="input string">
         <fieldset class="clearfix">
                <div class="label-wrapper">
                      <label>Qiwi
                      </label>
                </div>
                {{ form.qiwi.errors }}
                <div class="cl-input-container required">
                      {{ form.qiwi }}
                      <p class="form_microcopy">Введите номер телефона</p>
                </div>
         </fieldset>
     </div>




<div class="clear" id="settings_buttons">
<button class="primary button" id="user_settings_submit" tabindex="" type="submit"><span>Сохранить изменения
</span>
</button></div>

</form>

</div>

</div>
</div>