{% load thumbnail %}

<div class="cl-container" id="settings_contain">
<div class="cl-section clearfix">
<div class="section-header">
<div class="header-content">
<p class="title">Безопасность и конфиденциальность
</p>
<p class="desc">Изменение пароля и установка параметров конфиденциальности
</p>
</div>
</div>
<div class="cl-subsection">{{ success }}
<form  action="{% url 'security-settings' %}" class="simple_form user" enctype="multipart/form-data" id="user_edit_form" method="post">
 {% csrf_token %}
         <fieldset class="clearfix">
                <div class="label-wrapper">
                     <label>Изменить пароль
                     </label>
                </div>
                <div class="cl-input-block">
                <div class="cl-input-containerc">
                    <label  {% if errors %}style="color:red"{% endif %}>Старый пароль
                     </label>
                    {{ form.passwords.errors }}
                     <div class="input string required user_displayname">
                          {{ form.passwords}}
                     </div>
                </div>
                <div class="cl-input-containerc">
                    <label {% if error %}style="color:red"{% endif %}>Новый пароль
                     </label>
                    {{ form.password1.errors }}
                     <div class="input string required user_displayname">
                          {{ form.password1 }}
                     </div>
                </div>
                <div class="cl-input-containerc">
                    <label {% if error %}style="color:red"{% endif %}>Подтвердить новый пароль
                     </label>
                    {{ form.password2.errors }}
                     <div class="input string required user_displayname">
                          {{ form.password2 }}
                     </div>
                </div>
                </div>
         </fieldset>







<div class="clear" id="settings_buttons">
<button class="primary button" id="user_settings_submit" tabindex="" type="submit"><span>Сохранить изменения
</span>
</button></div>

</form>

</div>

</div>
</div>