{% extends 'core/base.html' %}

{% block title %}Настройки{% endblock %}



{% block content %}

    <div class="blog-main">

        <div class="tabs-settings">
               <div class="tabs-header-settings"></div>
               {% with u=request.resolver_match.url_name %}
               <input id="tab_1-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'settings' %}checked="checked"{% endif %} />
	           <input id="tab_2-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'payment-settings' %}checked="checked"{% endif %} />
               <input id="tab_3-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'security-settings' %}checked="checked"{% endif %} />
               <label onclick="javascript:document.location.href='{% url 'settings' %}'" for="tab_1-settings" class="label-tabs-settings" id="tab_l1-settings">Профиль</label>
	           <label onclick="javascript:document.location.href='{% url 'payment-settings' %}'" for="tab_2-settings" class="label-tabs-settings" id="tab_l2-settings">Платежные данные</label>
               <label onclick="javascript:document.location.href='{% url 'security-settings' %}'" for="tab_3-settings" class="label-tabs-settings" id="tab_l3-settings">Безопасность и конфиденциальность</label>
               {% endwith %}

               <div style="clear:both"></div>

               <div class="tabs_cont-settings">
               <div id="tab_c1-settings">
                  {% include "accounts/osn-settings.html" %}
               </div>

               <div id="tab_c2-settings">
                   {% include "accounts/payment-settings.html" %}
               </div>


               <div id="tab_c3-settings">
                   {% include "accounts/security-settings.html" %}
               </div>

               </div>

           </div>

    </div>


{% endblock %}