.chat {
width: 100%;
height: 500px;
background-color: #E6E6E6;
overflow-x: hidden;
margin-bottom: 10px;
font-family: initial;
border: 1px solid rgba(0,0,0,0.2);
}
li.message{
    list-style: none;
margin-left: 5px;
border-top: 1px dotted #828282;
}
.timeago{
    font-size: 12px;
    color: #2e2a28;
}
.message-js{
width: 100%;
line-height: 28px;
padding: 0 7px;
height: 30px;
font: inherit;
letter-spacing: inherit;
color: #666;
vertical-align: top;
border: 1px solid rgba(0,0,0,0.25);
background-clip: padding-box;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fff;
}
.send-js {
background: #6441a5;
color: #fff;
font-size: 12px;
display: inline-block;
width: 100%;
position: relative;
cursor: pointer;
line-height: 30px;
height: 40px;
font-size: 14px;
padding: 0;
border: 0;
padding: 0 16px;
font-size: 12px;
}
.send-js:hover {
    background: #733BDD;
}
.media-body p{
margin-bottom: 9px;
margin-top: 5px;
margin-left: 5px;
}
h4.media-heading{
margin: 5px;
color: rgb(240, 22, 22);
}
h4.media-heading a, div.media-body a{
    display:none;
}
h4.media-heading span.pull-right {
    float: left;
    margin-right: 5px;
}