{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% load bootstrap3 %}


{% block bootstrap3_content %}
    <div class="container_s">
   <div class="container-fluid">
   <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a href="/"><img class="img-logo" src="{% static 'img/logo.jpg' %}"></a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <!--<li>
                    <a href="{% url 'home' %}">home</a>
                </li>-->
            </ul>

            <ul class="nav navbar-nav navbar-center">
                {% with u=request.resolver_match.url_name %}
                <li>
                    <a {% if u == 'common-article' %}id="helplink"{% endif %}  href="/faq/">Помощь</a>
                    <!--<a id="helplink" href="/faq/">Помощь</a>-->
                </li>
                {% if user.is_authenticated %}
                <li>
                    <a {% if u == 'rates' %}id="helplink"{% endif %} href="{%  url 'rates' %}">Ваши ставки</a>
                </li>
                <li>
                    <a {% if u == 'express-history' %}id="helplink"{% endif %} href="{% url 'express-history' %}">Ваши экспрессы</a>
                </li>
                {% endif %}
                {% endwith %}
            </ul>

            {% block usersite %}
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                    {% if user.amount == 0 %}
                        <a href="{% url 'payment-pay' %}">
                        На вашем счету нет денежных средств. Внести депозит?
                    </a>

                    {% else %}
                    <a>
                        На вашем счету <span class="user-amount">{{ user.amount }}</span> руб.
                    </a>
                    {% endif %}
                    </li>
                    <li>
                       <a  class="link_user" href="#">
                           <svg class="svg-nav_profile" height="18px" version="1.1" viewBox="0 0 18 18" width="18px" x="0px" y="0px"><path clip-rule="evenodd" d="M2,16v-1l3-3h3L5,9V2h8v7l-3,3h3l3,3v1H2z" fill-rule="evenodd"></path></svg>
                           {{ user }}
                       </a>
                    <div class="dop_menu">
                <ul class="nav navy">
                <li>
                    <a href="{% url 'payment-pay' %}">Пополнить баланс</a>
                </li>
                <li>
                    <a href="{% url 'cashout' %}">Вывести средства</a>
                </li>
                <li>
                    <a href="{% url 'referal' %}">Рефералы</a>
                </li>
                <li>
                    <a href="{% url 'settings' %}">Настройки</a>
                </li>
                <li>
                    <a href="/accounts/logout/">Выход</a>
                </li>
                </ul>
            </div>
                    </li>
                {% else %}
                    <li>
                        <a class="open_account" href="javascript:PopUpShow()">Вход в систему</a>
                    </li>
                    <li>
                        <a id="a-link-reg" href="javascript:PopUpShow()">Регистрация</a>
                    </li>
                {% endif %}
            </ul>

            {% endblock %}
        </div>
    </div>
   {% block banner %}

   {% endblock %}
   {% block summary %}
   {% endblock %}
   </div>

    <div class="container-fluid">
         {% block content %}(no content){% endblock %}
    </div></div>


    {% block popup %}
       <div class="b-popup" id="popup1" style="display:none">
           <div class="b-popup-content tabs">
               <a class="closeform" href="javascript:PopUpHide()">X</a>
               <a class="vk vk-footer" href="/social/login/vk-oauth">Войти через ВКонтакте</a>
               <input id="tab_1" class="input-tabs" type="radio" name="tab" checked="checked" />
	           <input id="tab_2" class="input-tabs" type="radio" name="tab" />
               <label for="tab_1" class="label-tabs" id="tab_l1">Вход в систему</label>
	           <label for="tab_2" class="label-tabs" id="tab_l2">Регистрация</label>
               <div style="clear:both"></div>

               <div class="tabs_cont">
               <div id="tab_c1">
               <form class="form-popup" action='/accounts/login/' method='post'>
                     <div style="display:none">
                         <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="">
                     </div>
                     <label for="username">Имя пользователя</label><br>
                     <input type="text" name="username" value="" id="username"><br>
                     <label for="password">Пароль</label><br>
                     <input type="password" name="password" value="" id="password"><br>

                     <div class="buttons"><input type="submit" value="Вход в систему" /></div>
                     <input type="hidden" name="next" value="/" />
               </form>
               </div>

               <div id="tab_c2">
                   <form class="form-popup" action='/accounts/register/' method='post'>{% csrf_token %}
                     <label for="username">Имя пользователя</label><br>
                     <input type="text" name="username" value="" id="username"><br>
                     <label for="password">Пароль</label><br>
                     <input type="password" name="password1" value="" id="password"><br>
                     <label for="email">Адрес электронной почты</label><br>
                     <input type="email" name="email" value="" id="email"><br>

                     <div class="buttons"><input type="submit" value="Регистрация" class="clearfix"></div>
                     <input type="hidden" name="next" value="/faq/" />
               </form>
               </div>

               </div>

           </div>
       </div>
    {% endblock %}
    {% block footer_script %}

<script>
$(document).click( function(event){
	if( $(event.target).closest(".dop_menu").length )
	return;
	$(".dop_menu").fadeOut(1);
	event.stopPropagation();
    });
    $('.link_user').click( function() {
		$(this).siblings(".dop_menu").slideToggle(1);
		return false;
	});
</script>

{% endblock %}
    {% block footer_auth %}
    {% if not user.is_authenticated %}
        <div style="overflow:auto;padding-bottom:150px;"></div>
    {% include "core/footer-settings.html" %}
    {% endif %}
    {% endblock %}

    {% block footer %}
        <div style="overflow:auto;padding-bottom:150px;"></div>
    <div id="footer">
      <div class="container-fluid" style="padding: 0px 100px;">
          <div class="sitemap-content">
		       <ul class="sitemap-list clearfix">

                   <li class="li li-level-0 parent">
						<a href="/faq/" class="link-level-0">Помощь</a>
						<ul>

                        <li class="li li-level-1">
						    <a href="/faq/" class="link-level-1">Как это работает?</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="/ekspress-stavki/" class="link-level-1">Ставки на команду?</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="/vvod-sredstv/" class="link-level-1">Экспресс ставки</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="/vvod-sredstv/" class="link-level-1">Ввод средств</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="/vyvod-sredstv/" class="link-level-1">Вывод средств</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="/referma/" class="link-level-1">Реферальная программа</a>
					    </li>
						</ul>
                   </li>

                   <li class="li li-level-0 parent">
						<a href="/" class="link-level-0">Главная</a>
						<ul>
                        <li class="li li-level-1">
						    <a href="{% url 'linetable' %}" class="link-level-1">Таблица</a>
					    </li>
                        <li class="li li-level-1">
						    <a href="{% url 'express' %}" class="link-level-1">Экспресс</a>
					    </li>
                        {% if user.is_authenticated %}
                        <li class="li li-level-1">
						    <a href="{% url 'settings' %}" class="link-level-1">Личный кабинет</a>
					    </li>
                        {% endif %}
						</ul>
                   </li>
               </ul>
          </div>

          <div class="social-links">
              <h3>Мы в социальных сетях</h3>
                    <a href="#" class="vkk"></a>
                    <a href="#" class="fb"></a>
                    <a href="#" class="tw"></a>
          </div>
      </div>
    </div>
    {% endblock %}
{% endblock %}