{% extends 'bootstrap3/bootstrap3.html' %}
{% load static from staticfiles %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-responsive.css' %}">

    <!-- Add jQuery library -->
    <script src="{% static 'djangorpc/js/jquery-1.9.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.cookie.js' %}"></script>
<script>
$(document).ready( function(event){
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
    $('#csrfmiddlewaretoken').val(csrftoken);
    });
</script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>


    <script src="{% static 'djangorpc/js/jquery.util.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.rpc.js' %}"></script>
    <script src="{% static 'djangorpc/js/jquery.form.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'chat/js/chat.js' %}"></script>

    <script src="{% url 'jsapi' %}"></script>

    <script src="{% static 'chat/js/start.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/chat.css' %}">




{% endblock %}
{% block bootstrap3_extra_script %}

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}
<!-- Optionally add helpers - button, thumbnail and/or media -->
    <link rel="stylesheet" href="{% static 'fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.5' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.5' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/helpers/jquery.fancybox-media.js?v=1.0.6' %}"></script>

    <link rel="stylesheet" href="{% static 'fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.7' %}" type="text/css" media="screen" />
    <script type="text/javascript" src="{% static 'fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.7' %}"></script>

