{% extends 'core/base.html' %}
{% load core_extras %}


{% block title %}Ваши ставки | {{ user }}{% endblock %}


{% block content %}

<div class="table-responsive">
{% if object_list  %}
            <table class="table table-striped table-res">
              <thead>
                <tr>
                    <th>Дата</th>
                    <th>Событие</th>
                    <th>Ставка</th>
                    <th>Коэффициент</th>
                    <th>Сумма ставки</th>
                    <th>Результат</th>
                </tr>
              </thead>
              <tbody>
              {% for bet in object_list %}
                <tr>
                  <td>{{ bet.created|date:"j/n/Y H:i:s" }}</td>
                  <td>
                      {{ bet.line.discipline.name }}<br>
                      {{ bet.line.turnir.name }}<br>
                      {% for exp in bet.expressone.all %}
                          {% if exp.main %}
                              {{ exp.line.team_one.name }} vs {{ exp.line.team_two.name }}<br>
                          {% else %}
                              {{ exp.event.name }}<br>
                          {% endif %}
                      {% endfor %}
                  </td>
                  <td><br><br>
                      {% for exp in bet.expressone.all %}
                          {% if exp.main %}
                             {% if exp.team == 1 %}
                                   {{ exp.line.team_one.name }}<br>
                             {% elif exp.team == 2 %}
                                   {{ exp.line.team_two.name }}<br>
                             {% endif %}
                          {% else %}
                              {% if exp.team == 1 %}
                                   {{ exp.line.team_one.name }}<br>
                             {% elif exp.team == 2 %}
                                   {{ exp.line.team_two.name }}<br>
                             {% endif %}
                          {% endif %}
                      {% endfor %}
                  </td>
                  <td>{{ bet.all_ration }}</td>
                  <td>{{ bet.all_amount }}</td>
                  <td></td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
 {% else %}
<div class="alert alert-warning">Нет подходящих событий.</div>
{% endif %}
</div>

{% endblock %}