<div class="wrapper wrapper-footer">
    <div class="container-fluid">
        <h2>У Вас нету учетной записи?</h2>
        <a class="vk vk-footer" href="/social/login/vk-oauth">Войти через ВКонтакте</a>
         <form class="form-footer" action='/accounts/register/' method='post'>{% csrf_token %}
                     <div class="inputdiv"><label for="username">Имя пользователя</label><br>
                     <input type="text" name="username" value="" id="username"><br></div>
                     <div class="inputdiv"><label for="password1">Пароль</label><br>
                     <input type="password" name="password" value="" id="password"><br></div>
                     <div><label for="email">Адрес электронной почты</label><br>
                     <input type="email" name="email" value="" id="email"><br></div>

                     <div class="buttons"><input type="submit" value="Регистрация" class="clearfix"></div>
                     <input type="hidden" name="next" value="/faq/" />
         </form>
    </div>
</div>