{% extends 'core/base.html' %}

{% block title %}RAISERATE.COM - Сервис принимающий ставки на разные матчи в онлайн играх.{% endblock %}

{% block banner %}
       <div class="jumbotron-slider">jkjhk</div>
   {% endblock %}

{% block summary %}
      <div class="summary">
           <h2>Куда я попал?</h2>
           <h3>RAISERATE.COM - это сервис принимающий ставки на разные матчи в онлайн играх.</h3>
           <div class="summary-social">
               <a href="vk.com">ВКонтакте</a>
               <a href="vk.com">Facebook</a>
               <a href="vk.com">Twitter</a>
           </div>
      </div>
{% endblock %}

{% block content %}
    <div class="disc-content">
    <h2>Доступные дисциплины:</h2>
    <div style="width: 100%">
    {% for disc in discipline %}
        <div class="disc-content-item">
           <a class="glav_link" href="{% url 'linetable' %}?disc={{ disc.id }}">
           <img src="media/{{ disc.img }}">
           <h4>{{ disc.name }}</h4>
           </a>
        </div>
    {% endfor %}
    </div>
    <div style="clear:both"></div>
    <a class="all-table" href="{% url 'linetable' %}">Посмотреть все активные матчи >></a>

    </div>
{% endblock %}