{% extends 'core/base.html' %}

{% block title %}{{ linebets.turnir.name }} | {{ linebets.team_one.name }} vs {{ linebets.team_two.name }}{% endblock %}



{% block content %}
    <div class="rows">
    <div class="col-sm-8 blog-main">
        {% if linebets.video %}
        <div class="video-detail">
            {{ linebets.video|safe }}
        </div>
        {% endif %}
        <div class="table-responsive">
            <form data-submit="OneAddItemCallback"  role="form" class="bets-form form-horizontal form-v2 ajaxify-form" action='{% if linebets.dop_event.all %}{% url 'linetable-many' %}{% else %}{{ request.path }}{% endif %}' method='post'>
            <input type="hidden" name="line" value="{{ linebets.id }}">
            <table id="tablelet" class="table table-striped tablebet">
              <tbody>

                    <tr>
                        <td class="lefttd">
                            <div class="team">Команда 1</div>
                            {% if line.team_one.img  %}<div><img width="90" src="/media/{{ line.team_one.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ linebets.team_one.country.img }}"></span>{{ linebets.team_one.name }}</div>
                        </td>
                        <td></td>
                        <td class="centertd">
                            <div>{{ linebets.discipline.name }}</div>
                            <div>{{ linebets.turnir.name }}</div><br>
                            <span>{{ linebets.date_start|date:"j.n.y H:i" }}</span>
                        </td>
                        <td></td>
                        <td class="righttd">
                            <div class="team">Команда 2</div>
                            {% if line.team_two.img  %}<div><img width="90" src="/media/{{ line.team_two.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ linebets.team_two.country.img }}"></span>{{ linebets.team_two.name }}</div>
                        </td>
                    </tr>
                    <tr class="rationtr">
                        <td class="lefttd">
                            <input style="display:none" id="exp_{{ linebets.id }}{{ linebets.team_one.id }}" name="exp_{{ linebets.id }}{{ linebets.team_one.id }}" type="checkbox"  class="checkbox-exs"><br>
                            <label  style="display:none" for="exp_{{ linebets.id }}{{ linebets.team_one.id }}">{{ linebets.team_one_ration }}</label>
                            <div>{{ linebets.team_one_ration }}</div>
                        </td>
                        <td><div>Сумма:<input data-id="{{ linebets.id }}{{ linebets.team_one.id }}" id="bet-input-id" onkeyup="this.value = this.value.replace (/[^\d.]/g, '')" name="osn-{{ linebets.team_one.id }}" placeholder="0" class="bet-input" width="50" type="text"></div></td>
                        <td class="centertd">
                            <div>Ставка на победу</div>
                        </td>
                        <td><div>Сумма:<input data-id="{{ linebets.id }}{{ linebets.team_two.id }}" onkeyup="this.value = this.value.replace (/[^\d.]/g, '')" name="osn-{{ linebets.team_two.id }}" placeholder="0" class="bet-input" width="50" type="text"></div></td>
                        <td class="righttd">
                            <input style="display:none" id="exp_{{ linebets.id }}{{ linebets.team_two.id }}" name="exp_{{ linebets.id }}{{ linebets.team_two_ration.id }}" type="checkbox"  class="checkbox-exs"><br>
                            <label style="display:none" for="exp_{{ linebets.id }}{{ linebets.team_two.id }}">{{ linebets.team_two_ration }}</label>
                            <div>{{ linebets.team_two_ration }}</div>
                        </td>
                    </tr>
                    {% if linebets.dop_event.all %}
                    <tr>
                        <td style="padding: 2px 8px;" class="td_dop_events" colspan="5">
                            <p>Дополнительные ставки</p>
                        </td>
                    </tr>
                    {% endif %}
                    {% for linebet in linebets.dop_event.all %}
                    <tr class="rationtr dop">
                        <td class="lefttd">
                            <input style="display:none" id="exp_{{ linebets.id }}{{ linebet.id }}{{ linebets.team_one.id }}" name="exp_{{ linebet.id }}{{ linebest.team_one.id }}" type="checkbox"  class="checkbox-exs"><br>
                            <label style="display:none" for="exp_{{ linebets.id }}{{ linebet.id }}{{ linebets.team_one.id }}">{{ linebet.team_one_ration }}</label>
                            <div>{{ linebet.team_one_ration }}</div>
                        </td>
                        <td><div>Сумма:<br><input data-id="{{ linebets.id }}{{ linebet.id }}{{ linebets.team_one.id }}" onkeyup="this.value = this.value.replace (/[^\d.]/g, '')" name="dop-{{ linebet.id }}-{{ linebets.team_one.id }}" placeholder="0" class="bet-input" width="50" type="text"></div></td>
                        <td class="centertd">
                            <div>{{ linebet.name }}</div>
                        </td>
                        <td><div>Сумма:<br><input data-id="{{ linebets.id }}{{ linebet.id }}{{ linebets.team_two.id }}" onkeyup="this.value = this.value.replace (/[^\d.]/g, '')" name="dop-{{ linebet.id }}-{{ linebets.team_two.id }}" placeholder="0" class="bet-input" width="50" type="text"></div></td>
                        <td class="righttd">
                            <input style="display:none" id="exp_{{ linebets.id }}{{ linebet.id }}{{ linebets.team_two.id }}" name="exp_{{ linebet.id }}{{ linebets.team_two.id }}" type="checkbox"  class="checkbox-exs"><br>
                            <label style="display:none" for="exp_{{ linebets.id }}{{ linebet.id }}{{ linebets.team_two.id }}">{{ linebet.team_two_ration }}</label>
                            <div>{{ linebet.team_two_ration }}</div>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="margintr"></tr>

                    <tr class="margintr">
                        <td colspan="5">
                            <h3>Вы можете выиграть: <span class="result-amount">0</span> руб.</h3>
                        </td>
                    </tr>

                    <tr class="bettr">
                        <td colspan="5">
                            <div class="betbutton">
                                {% if user.is_authenticated %}
                                    <button  class="submit-td submit-trigger" type="submit">Сделать ставку</button>
                                {% else %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>



              </tbody>
            </table>
            </form>
        </div>
    </div>
    <div class="fixed-chat">
        <div class="header-fixed-chat"><p>Чат</p><span style="float: right;top: 3px;" class="fixed-click glyphicon glyphicon-collapse-down" aria-hidden="true"></span><div style="clear: both;"></div></div>
        <div class="body-fixed-chat">
        <iframe src="//raiserate.com/test" frameborder="no" width="328" height="320" align="right">
        Ваш браузер не поддерживает плавающие фреймы!
        </iframe>
        </div>
    </div>
    </div>


{% endblock %}