{% extends 'core/base.html' %}
{% block title %}Доступные события{% endblock %}

{% block banner %}
<div class="jumbotron-slider">jkjhk</div>
{% endblock %}

{% block summary %}
      <div class="summary">
           <h2>Куда я попал?</h2>
           <h3>RAISERATE.COM - это сервис принимающий ставки на разные матчи в онлайн играх.</h3>
           <div class="summary-social">
               <a href="vk.com">ВКонтакте</a>
               <a href="vk.com">Facebook</a>
               <a href="vk.com">Twitter</a>
           </div>
      </div>
{% endblock %}

{% block content %}

    <div class="blog-main">
        <div class="menu-table">
            {% with u=request.resolver_match.url_name %}
            <a {% if u == 'linetable' %}class="active"{% endif %}href="{% url 'linetable' %}">За команду</a>
            <a {% if u == 'express' %}class="active"{% endif %}href="{% url 'express' %}">Экспресс ставка</a>
            {% endwith %}
        </div>
        <div class="filter-select">
            <h2>Доступные дисциплины:</h2>
            <div class="dropdown dropdown-desct">
            <a type="button" id="drop001" role="button" class="dropdown-toggle dropdown-desc" data-toggle="dropdown" href="#"><b class="caret"></b></a>
                <ul class="dropdown-menu dropdown-menu-desc">
                {% for desc in discipline %}
                   <li>
                       <a type="checkbox" class="action-button discipline-a " id="discipline-a" data-role="desc" data-href="{% url 'linetable' %}" data-callback="FilterInputCallback" data-value="{{ desc.id }}">

                       <img class="discipline-img" src="/media/{{ desc.small }}"><h4>{{ desc.name }}</h4>
                       </a>

                   </li>
                {% endfor %}
                </ul>
            </div>


        </div>
        <div style="clear: both"></div>
        <div class="filter-date">{% csrf_token %}
            <a href="{% url 'linetable' %}" class="action-button time-button" id="time-yesterday" data-callback="FilterDateCallback" data-time="yesterday"></a>|
            <a href="{% url 'linetable' %}" class="action-button time-button" id="time-today" data-callback="FilterDateCallback" data-time="today"></a>|
            <a href="{% url 'linetable' %}" class="action-button time-button" id="time-tomorrow" data-callback="FilterDateCallback" data-time="tomorrow"></a>
            <a href="{% url 'linetable' %}" class="action-button time-button" id="time-all" data-callback="FilterDateCallback" data-time="all">Все</a>
        </div>

        <div class="table-responsive">

            <table id="tablelet" class="table table-striped tablebet">
              <tbody class="line-tbody">
                {% if linebets %}
                {% for line in linebets %}

                    <tr class="linebet" data-id="{{ line.id }}">
                        <td class="lefttd">
                            <div class="team">Команда 1</div>
                            {% if line.team_one.img  %}<div><img width="90" src="/media/{{ line.team_one.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ line.team_one.country.img }}"></span>{{ line.team_one.name }}</div>
                        </td>
                        <td></td>
                        <td class="centertd">
                            <div>{{ line.discipline.name }}</div>
                            <div>{{ line.turnir.name }}</div><br>
                            <span>{{ line.date_start|date:"j.n.y H:i" }}</span><br><br><br>
                            <a class="link-link" href="{{ line.get_absolute_url }}">Сделать ставку</a><br><br>
                        </td>
                        <td></td>
                        <td class="righttd">
                            <div class="team">Команда 2</div>
                            {% if line.team_two.img  %}<div><img width="90" src="/media/{{ line.team_two.img }}"></div>{% endif %}
                            <div><span><img src="/media/{{ line.team_two.country.img }}"></span>{{ line.team_two.name }}</div>
                        </td>
                    </tr>
                    <tr class="rationtr">
                        <td class="lefttd">
                            <div>{{ line.team_one_ration }}</div>
                        </td>
                        <td></td>
                        <td class="centertd">

                        </td>
                        <td></td>
                        <td class="righttd">
                            <div>{{ line.team_two_ration }}</div>
                        </td>
                    </tr>
                    <tr class="margintr"></tr>

                    {% if line.dop_event %}
                    <tr style="display: none;">
                        <td>{{ line.date_start|date:"j.n.y H:i" }}</td>
                        <td>{{ line.discipline.name }}</td>
                        <td><img src="/media/{{ line.team_one.country.img }}"> {{ line.dop_event.name }} </td>
                        <td>{{ line.dop_event.team_one_ration }}</td>
                        <td><img src="/media/{{ line.team_two.country.img }}"> {{ line.dop_event.name }}</td>
                        <td>{{ line.dop_event.team_two_ration }}</td>
                        <td>{{ line.turnir.name }}</td>
                    </tr>
                    {% endif %}

                {% endfor %}
                {% else %}
                  <tr><td style="background: white;border-top: none;"><div class="alert alert-warning">Нет подходящих событий.</div></td></tr>
                 {% endif %}
              </tbody>
            </table>

        </div>
    </div>


{% endblock %}
<tr>
                        <td>{{ line.date_start|date:"j.n.y H:i" }}</td>
                        <td>{{ line.discipline.name }}</td>
                        <td><img src="/media/{{ line.team_one.country.img }}"> {{ line.team_one.name }} </td>
                        <td>{{ line.team_one_ration }}</td>
                        <td><img src="/media/{{ line.team_two.country.img }}"> {{ line.team_two.name }}</td>
                        <td>{{ line.team_two_ration }}</td>
                        <td>{{ line.turnir.name }}</td>
                    </tr>
