{% extends 'core/base.html' %}
{% block title %}Доступные события | Экспресс-ставка{% endblock %}

{% block banner %}
<div class="jumbotron-slider">jkjhk</div>
{% endblock %}

{% block summary %}
      <div class="summary">
           <h2>Куда я попал?</h2>
           <h3>RAISERATE.COM - это сервис принимающий ставки на разные матчи в онлайн играх.</h3>
           <div class="summary-social">
               <a href="vk.com">ВКонтакте</a>
               <a href="vk.com">Facebook</a>
               <a href="vk.com">Twitter</a>
           </div>
      </div>
{% endblock %}

{% block content %}

    <div class="blog-main">
        <div class="menu-table">
            {% with u=request.resolver_match.url_name %}
            <a {% if u == 'linetable' %}class="active"{% endif %}href="{% url 'linetable' %}">За команду</a>
            <a {% if u == 'express' %}class="active"{% endif %}href="{% url 'express' %}">Экспресс ставка</a>
            {% endwith %}
        </div>



        </div>
        <div style="clear: both"></div>

        <div class="table-responsive">{{ error }}
            <form class="betsexp-form" action='{{ request.path }}' method='post'>
            <table id="tablelet" class="table table-striped tablebet">
              <tbody class="line-tbody">
                {% for line in object_list %}

                    <tr class="linebet" data-id="{{ line.id }}">
                        <td class="lefttd">
                            <div class="team">Команда 1</div>
                            <div><img width="30" src="/media/{{ line.team_one.img }}"></div>
                            <div><span><img src="/media/{{ line.team_one.country.img }}"></span>{{ line.team_one.name }}</div>
                        </td>
                        <td>
                            <input id="exp_{{ line.id }}{{ line.team_one.id }}" name="exp_{{ line.id }}{{ line.team_one.id }}" type="checkbox"  class="checkbox-exs"><br>
                            <label for="exp_{{ line.id }}{{ line.team_one.id }}">{{ line.team_one_ration }}</label>
                        </td>
                        <td class="centertd">
                            <div>{{ line.discipline.name }}</div>
                            <div>{{ line.turnir.name }}</div><br>
                            <span>{{ line.date_start|date:"j.n.y H:i" }}</span>
                        </td>
                        <td>
                            <input id="exp_{{ line.id }}{{ line.team_two.id }}" name="exp_{{ line.id }}{{ line.team_two.id }}" type="checkbox" class="checkbox-exs"><br>
                            <label for="exp_{{ line.id }}{{ line.team_two.id }}">{{ line.team_two_ration }}</label>
                        </td>
                        <td class="righttd">
                            <div class="team">Команда 2</div>
                            <div><img width="30" src="/media/{{ line.team_two.img }}"></div>
                            <div><span><img src="/media/{{ line.team_two.country.img }}"></span>{{ line.team_two.name }}</div>
                        </td>
                    </tr>




                {% endfor %}
                <tr class="margintr">
                    <td colspan="2">
                        <div class="exp-ration">Коэффициент: <span></span></div>
                    </td>
                    <td colspan="3">
                                {% if user.is_authenticated %}
                                    <div>Сумма: <input id="exp_input" onkeyup="this.value = this.value.replace (/[^\d.]/g, '')" name="amount" placeholder="0" value="0" width="50" type="text"></div>
                                {% else %}
                                {% endif %}
                        </td>
                </tr>
                <tr class="bettr">
                        <td colspan="5">
                            <div class="betbutton">
                                {% if user.is_authenticated %}
                                    <input class="submit-td" type="submit" value="Сделать ставку" />
                                {% else %}
                                {% endif %}
                            </div>
                        </td>
                    </tr>
              </tbody>
            </table>
            </form>
        </div>
    </div>


{% endblock %}