{% extends 'core/base.html' %}
{% load core_extras %}
{% load endless %}

{% block title %}Ваши ставки | {{ user }}{% endblock %}


{% block content %}
 {% paginate 10 object_list %}
<div class="table-responsive">
{% if object_list  %}
            <table class="table table-striped table-res">
              <thead>
                <tr>
                    <th>Дата</th>
                    <th>Событие</th>
                    <th>Ставка</th>
                    <th>Коэффициент</th>
                    <th>Сумма ставки</th>
                    <th>Результат</th>
                    <th>Выиграш(RUB)</th>
                </tr>
              </thead>
              <tbody>
              {% for bet in object_list %}
                <tr>
                  <td>{{ bet.event.created|date:"j/n/Y H:i:s" }}</td>
                  <td>{{ bet.event.line.discipline.name }}<br>
                      {{ bet.event.line.turnir.name }}<br>
                      {{ bet.event.line.team_one.name }} vs {{ bet.event.line.team_two.name }}
                  </td>
                  <td>
                      {% if bet.event.team == 1 %}
                          {{ bet.event.line.team_one.name }}
                      {% elif bet.event.team == 2 %}
                          {{ bet.event.line.team_two.name }}
                      {% endif %}
                  </td>
                  <td>{{ bet.event.ration }}</td>
                  <td>{{ bet.event.amount }}</td>
                  <td>{% if bet.result == 'Yes' %}Выиграш{% elif bet.result == 'On' %}В игре{% elif bet.result == 'No' %}Проигрыш{% endif %}</td>
                  <td>{% if bet.result == 'Yes' %}{{ bet.one_count }}{% elif bet.result == 'On' %}Возможный выиграш: {{ bet.one_count }}{% elif bet.result == 'No' %}{% endif %}</td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
 {% else %}
<div class="alert alert-warning">Нет подходящих событий.</div>
{% endif %}
</div>
{% get_pages %}
<div class="pagination-esless">
{{ pages }}
</div>
    <div style="clear:both"></div>
{% endblock %}