{% extends 'core/base.html' %}
{% load core_extras %}

{% block title %}Ваши рефералы | {{ user }}{% endblock %}


{% block content %}
    <br><br>
    Ваша партнёрская ссылка: <a href="https://raiserate.com/?pl={{ user.id }}">https://raiserate.com/?pl={{ user.id }}</a>
    <br><br>
<div class="table-responsive">
            <table class="table table-striped table-res">
              <thead>
                <tr>
                    <th>Дата от</th>
                    <th>Переходы по ссылке</th>
                    <th>Регистрации пользователей</th>
                    <th>Начисленная сумма</th>
                </tr>
              </thead>
              <tbody>
              {% for ref in referal_list %}
                <tr>
                  <td>{{ ref.created|date:"j.n.y" }}</td>
                  <td>{{ ref.transition }}</td>
                  <td>{{ ref.refer.count }}</td>
                  <td>0</td>
              {% endfor %}
              </tbody>
            </table>
</div>
{% endblock %}