{% extends 'mailchimp/base.html' %}
{% block users %}{{ users }}{% endblock %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); background-color: rgb(255, 255, 255);">Куплен <strong>новый билет</strong>, внесите данные!</div>
{% endblock %}