html, body {
  height: 100%;
}
body {
color: #32323e;
font: 13px/27px Arial,sans-serif;
line-height: 1.5;
}

.jumbotron-slider{
    margin-bottom: 30px;
    color: inherit;
    height: 200px;
    background: url('../img/banner.jpg') no-repeat;
    background-size: cover;
}
.navbar-default{
    background-color: white;
    border-color: white;
    margin-top: 12px;
}
.img-logo{
    margin-top: 10px;
}
.disc-content-item{
    float: left;
    margin: 10px 20px 0px 0px;
}
#footer {
position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
	background: #000000;
}
.container_s{
	min-height: 100%;
}
/*****POPUP******/
.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
}
.b-popup .b-popup-content{
margin: 40px auto 0px auto;
width: 350px;
background-color: #FFFFFF;
/*box-shadow: 0px 0px 10px #000;*/
padding: 25px 25px 10px;
}
.form-popup input{
width: 100%;
margin-bottom: 15px;
}
.form-popup input[type=text],input[type=password],input[type=email] {
margin: 0 0 20px 0;
line-height: 28px;
padding: 0 7px;
height: 30px;
font: inherit;
letter-spacing: inherit;
color: #666;
vertical-align: top;
border: 1px solid rgba(0,0,0,0.25);
background-clip: padding-box;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fff;
}
.form-popup input[type=submit] {
background: #6441a5;
color: #fff;
padding: 0 10px;
font-size: 12px;
display: inline-block;
position: relative;
cursor: pointer;
line-height: 30px;
height: 30px;
font-family: inherit;
border: 0;
width: auto;
}
.form-popup .buttons {
margin: 20px 0 0px;
padding: 20px 0 0;
border-top: 1px solid #dedede;
width: 100%;
text-align: center;
}
.closeform{
font-size: 18px;
text-transform: capitalize;
text-decoration: none;
position: absolute;
top: 0px;
color: white;
margin-left: 336px;
}
.closeform:hover{
color: white;
text-decoration: none;
}

/*****tabs popup****/
.tabs {
	position: relative;
	margin: 0 auto;
	width: 800px;
}
.tabs .label-tabs {
float: left;
margin-right: 20px;
position: relative;
height: 15px;
line-height: 24px;
color: #6441a5;
font-size: 14px;
margin-bottom: 20px;
font-weight: normal;
margin-top: 20px;
}

.tabs .input-tabs {
	position: absolute;
	left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2{
color: #19191f;
border-bottom: 1px solid #19191f;
top: 0;
z-index: 3;
padding-bottom: 30px;
}

.tabs_cont {
	background: #fff;
	position: relative;
	z-index: 2;

}
.tabs_cont > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .tabs_cont #tab_c1,
#tab_2:checked ~ .tabs_cont #tab_c2 {
	position: static;
	left: 0;
	opacity: 1;
}
/****tabs page**/
.tabstwo {
	position: relative;
	margin: 0 auto;
	width: 800px;
}
.tabstwo .label-tabstwo {
float: left;
margin-right: 20px;
position: relative;
height: 15px;
line-height: 24px;
color: #6441a5;
font-size: 14px;
margin-bottom: 20px;
font-weight: normal;
}

.tabstwo .input-tabstwo {
	position: absolute;
	left: -9999px;
}

#tab_1two:checked  ~ #tab_l1two,
#tab_2two:checked  ~ #tab_l2two{
color: #19191f;
border-bottom: 1px solid #19191f;
top: 0;
z-index: 3;
padding-bottom: 30px;
}

.tabs_conttwo {
	background: #fff;
	position: relative;
	z-index: 2;
}
.tabs_conttwo > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1two:checked ~ .tabs_conttwo #tab_c1two,
#tab_2two:checked ~ .tabs_conttwo #tab_c2two {
	position: static;
	left: 0;
	opacity: 1;
}
/***form accounts page****/
.form-page {
    width:350px;
}
.form-page input{
width:100%;
margin-bottom: 15px;
}
.form-page input[type=text],input[type=password] {
margin: 0 0 20px 0;
line-height: 28px;
padding: 0 7px;
height: 30px;
font: inherit;
letter-spacing: inherit;
color: #666;
vertical-align: top;
border: 1px solid rgba(0,0,0,0.25);
background-clip: padding-box;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fff;
}
.form-page input[type=submit] {
background: #6441a5;
color: #fff;
padding: 0 10px;
font-size: 12px;
display: inline-block;
position: relative;
cursor: pointer;
line-height: 30px;
height: 30px;
font-family: inherit;
border: 0;
width: auto;
}
.form-page .buttons {
margin: 20px 0 0px;
padding: 20px 0 0;
border-top: 1px solid #dedede;
width: 100%;
text-align: center;
}

.error{
background: #ffe6e6;
color: #c86e6e;
padding: 10px;
border: 1px solid #f5c8c8;
}
#a-link-reg{
background: #6441a5;
color: #fff;
font-size: 12px;
}
#a-link-reg:hover{
background: #7852BE;
}
#helplink{
background: #6441a5;
color: #fff;
font-size: 12px;
}
#helplink:hover{
background: #7852BE;
}
/****table bets***/
table.tablebet td.righttd{
	text-align: right;
}
table.tablebet td.lefttd{
	text-align: left;
}
table.tablebet td.centertd{
	text-align:center;
}
table.tablebet td.centertd span{
background: rgb(142, 142, 142);
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
padding: 5px 20px;
color: white;
text-decoration: none;
font-weight: bold;
border-radius: 30px;
}
.table-res>tbody>tr:nth-child(odd){
	background-color: #f9f9f9;
}
table.tablebet tr{
background: #222222;
	color:white;
text-align: center;
}
.tablebet>tbody>tr:nth-child(odd) {
background: #222222;
}
table.tablebet tr.margintr{
height: 15px;
}
table.tablebet tr.bettr{
text-align: center;
	-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e3262e), to(#ab171e));
background-image: -webkit-linear-gradient(#e3262e, #ab171e);
background-image: linear-gradient(#e3262e, #ab171e);
background-color: #ab171e;
border-bottom-color: #820a0f;
border-left-color: #9a1015;
border-right-color: #9a1015;
border-top-color: #af151b;
border-width: 1px;
-webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.34);
font-weight: bold;
font-size: 18px;
}
table.tablebet tr.rationtr{
background: white;
color: #222222;
font-weight: bold;
font-size: 24px;
}
table.tablebet tr.rationtr.dop{
font-size: 14px;
background: rgb(246, 246, 246);
}
table.tablebet td div.team{
margin-top: 10px;
font-size: 11px;
color: #99998a;
margin-bottom: 5px;
}
.table-res>tbody>tr>td{
	vertical-align: middle;
}
#tablelet{
max-width: 100%;
}
.submit-td{
width: 100%;
border: none;
background: none;
}
.td_dop_events{
	text-align: left;
background: #6441a5;
padding: 2px 8px;
}
.td_dop_events p{
margin: 0;
}
.link_user{
font-size: 16px;
font-weight: bold;
text-transform: uppercase;
}
.link_user:after {
content: "";
position: absolute;
width: 0;
height: 0;
right: 0;
top: 50%;
margin-top: -2px;
border: 5px solid rgba(0,0,0,0.35);
border-left-color: transparent;
border-right-color: transparent;
border-bottom-color: transparent;
}
.svg-nav_profile {
margin-right: 3px;
margin-bottom: -3px;
}
.navbar-center{
	margin-left: 25%;
}
.dop_menu{
position: absolute;
color: #32323e;
border: 1px solid rgba(0,0,0,0.2);
background: #fff;
background-clip: padding-box;
z-index: 6000000 !important;
overflow-x: hidden;
width: 120px;
padding: 10px 0;
	display: none;
}
.navy>li>a:hover, .navy>li>a:focus{
color: #fff;
text-decoration: none;
background-color: #6441a5;
}
/*****tabs settings****/
.tabs-settings {
	position: relative;
	margin: 0 auto;
	width: 100%;
}
.tabs-settings .label-tabs-settings {
float: left;
margin-right: 20px;
position: relative;
height: 15px;
line-height: 24px;
color: #6441a5;
font-size: 14px;
margin-bottom: 20px;
font-weight: normal;
}

.tabs-settings .input-tabs-settings {
	position: absolute;
	left: -9999px;
}

#tab_1-settings:checked  ~ #tab_l1-settings,
#tab_2-settings:checked  ~ #tab_l2-settings,
#tab_3-settings:checked  ~ #tab_l3-settings{
color: #19191f;
border-bottom: 1px solid #19191f;
top: 0;
z-index: 3;
padding-bottom: 30px;
}

.tabs_cont-settings {
	background: #fff;
	position: relative;
	z-index: 2;
	margin-bottom: 30px;
}
.tabs_cont-settings > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1-settings:checked ~ .tabs_cont-settings #tab_c1-settings,
#tab_2-settings:checked ~ .tabs_cont-settings #tab_c2-settings,
#tab_3-settings:checked ~ .tabs_cont-settings #tab_c3-settings{
	position: static;
	left: 0;
	opacity: 1;
}
.tabs-header-settings {
border-bottom: 1px solid rgba(0,0,0,0.2);
height: 31px;
position: absolute;
width: 100%;
}
/****settins style****/
.cl-container .cl-section {
margin-bottom: 20px;
background: #f2f2f2;
}
.cl-container .section-header {
background: #e8e8e8;
position: relative;
border-bottom: 1px solid #dedede;
}
.cl-container .section-header .header-content {
padding: 15px 20px;
position: relative;
}
.cl-container .section-header .header-content .title {
font-size: 16px;
font-weight: normal;
}
.cl-container .section-header .header-content .desc {
color: #8c8c8c;
margin-top: 5px;
margin-bottom: 0;
}
#settings form {
width: 100%;
}
.cl-container fieldset {
border-bottom: 1px solid #dedede;
padding: 25px 0;
}
.cl-container fieldset .label-wrapper {
width: 110px;
padding: 0 20px;
float: left;
}
.cl-container fieldset .label-wrapper label {
font-weight: bold;
margin-bottom: 0;
color: #32323e;
}
.cl-container fieldset .cl-input-container {
float: left;
width: 460px;
padding: 0 20px;
}
.cl-container fieldset .cl-input-container .upload img {
float: left;
margin: 0 10px 0 0 !important;
}
.user_profile_image {
margin: 10px 0 0 !important;
float: left;
width: 280px;
}
#settings_buttons {
padding: 14px 20px;
}
#user_settings_submit{
display: inline-block;
position: relative;
cursor: pointer;
line-height: 30px;
height: 30px;
font-size: 14px;
font-family: inherit;
border: 0;
background: #6441a5;
color: #fff;
padding: 0 10px;
}
.cl-input-block{
margin-left: 110px;
}

.filter-date a{
color: black;
font-size: 25px;
font-weight: bold;
margin-right: 5px;
text-decoration: none;
}
.filter-date a:hover{
color: #777;
text-decoration:none;
}
.filter-date a.active{
color: #6441a5;
text-decoration:none;
}
.filter-date{
border-bottom: 2px solid black;
margin-bottom: 20px;
margin-top: 10px;
}
/* Sidebar navigation */
.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #1a1a1a;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.nav-sidebar > li.prod-li {
color: #fff;
background: #6441a5;
padding: 10px 10px;
font-size: 14px;
}
.nav-sidebar > li > a.project {
background-color: #3b2064 !important;
border: none;
color: #b9a3e3;
font-size: 13px;
}
.nav-sidebar > li > a.project.active {
font-weight: bold;
color:white;
background: none;
}
.nav-sidebar > li > a.active {
font-weight: bold;
color:black;
background-color: #eee;
}
.wrapper-footer{
box-shadow: 0 0 0 1px rgba(0,0,0,0.2),0 0 0 -1px rgba(0,0,0,0.2);
-moz-box-shadow: 0 0 0 1px rgba(0,0,0,0.2),0 0 0 -1px rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.2),0 0 0 -1px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.05);
padding: 20px 20px;
}
.wrapper-footer .container h2{
margin-top: 0;
margin-bottom: 20px;
}
.inputdiv{
float: left;
margin-right: 2%;
}
.form-footer input[type=text], input[type=password], input[type=email] {
margin: 0 0 20px 0;
line-height: 28px;
padding: 0 7px;
height: 30px;
font: inherit;
letter-spacing: inherit;
color: #666;
vertical-align: top;
border: 1px solid rgba(0,0,0,0.25);
background-clip: padding-box;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
background: #fff;
}
.form-footer input[type=submit]{
background: #6441a5;
color: #fff;
padding: 0 10px;
font-size: 12px;
display: inline-block;
position: relative;
cursor: pointer;
line-height: 30px;
height: 30px;
font-family: inherit;
border: 0;
width: auto;
}
.vk{
background: #5b90b7;
border: 1px solid #0f6b9e;
padding: 10px 30px;
color: white;
}
.vk:hover{
background: #5080A3;
border: 1px solid #0f6b9e;
padding: 10px 30px;
color: white;
text-decoration: none;
}
.form-footer{
	margin-top: 20px;
}
.bet-input{
	width: 120px;
}
.all-table{
float: right;
font-size: 14px;
margin-bottom: 10px;
}
.dropdown-desc{
display: block;
width: 16px;
background: black;
padding: 5px 2px;
height: 100%;
color: white;
}
.item-desc .discipline-img{
float: left;
margin-right: 5px;
margin-top: 10px;
}
.filter-select h2 {
	float:left;
	margin: 0;
}
.dropdown-desct {
	float:left;
}
.item-desc{
	float:left;
	margin: 0 10px 0 10px;
}
.item-desc h4{
	float:left;
}
.dropdown-desc{
	float:left;
}
#discipline-a .discipline-img{
float: left;
margin-right: 5px;
margin-top: 9px;
}
#discipline-a h4{
font-size: 14px;
}
.dropdown-menu>li>a.active{
background: #6441a5;
color: white;
}
.link-link {
background: linear-gradient(#FFC400, #FF9600) repeat-x scroll 0% 0% transparent;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.13);
padding: 10px;
color: white;
text-decoration: none;
font-weight: bold;
border-radius: 2px;
}
.link-link:hover {
background: linear-gradient(#f7be00, #f08c00) repeat-x scroll 0% 0% transparent;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.13);
padding: 10px;
color: white;
text-decoration: none;
font-weight: bold;
border-radius: 2px;
}
.menu-table{
margin-bottom: 25px;
margin-top: 41px;
}
.menu-table a{
padding: 10px;
color: black;
text-decoration: none;
border: 3px solid black;
margin: 20px;
margin-left: 0;
}
.menu-table a:hover{
padding: 10px;
color:#6441a5;
text-decoration: none;
border: 3px solid #6441a5;
margin: 20px;
margin-left: 0;
}
.menu-table a.active{
padding: 10px;
color:#6441a5;
text-decoration: none;
border: 3px solid #6441a5;
margin: 20px;
margin-left: 0;
}
.summary-social{
	text-align: center;
	margin-top: 22px;
}
.summary h2, h3{
	font-weight: bold;
}
.summary-social a {
background: #6441a5;
color: #fff;
font-size: 12px;
padding: 10px 20px;
margin: 15px;
}
.div-pay-get{
padding: 10px;
color: #6441a5;
text-decoration: none;
border: 3px solid #6441a5;
margin-left: 0;
display: block;
float: left;
margin-right: 10px;
}
.gift-pay-get{
padding: 13px 0px;
color: #FF0000;
text-decoration: none;
margin-left: 0;
display: block;
float: left;
font-weight: bold;
}
.link-pay-get{
height: 60px;
display: block;
margin: 0 auto;
width: 300px;
}
.pay-settings{
	text-align: center;
}
.pay-button{
display: inline-block;
position: relative;
cursor: pointer;
line-height: 30px;
height: 41px;
font-size: 21px;
font-family: inherit;
border: 0;
background: #6441a5;
color: #fff;
padding: 0 10px;
}
#summa{
height: 41px;
font-size: 20px;
margin-right: 10px;
}
#exp_input{
	color:black;
}
/*chat*/
.fixed-chat {
position: fixed;
float: right;
z-index: 9000;
background: white;
right: 8%;
margin: 0 0 0 auto;
border: 1px solid rgba(100, 65, 165, 0.66);
width: 330px;
bottom: 0;
}
.header-fixed-chat{
background: rgba(100, 65, 165, 0.66);
padding: 5px 10px;
color: white;
font-weight: bold;
font-size: 15px;
}
.header-fixed-chat p{
margin: 0;
float: left;
}

/*pagination*/
.endless_page_link{
	position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: #6441a5;
text-decoration: none;
background-color: #fff;
border: 1px solid #ddd;
}
.endless_page_current{
position: relative;
float: left;
padding: 6px 12px;
margin-left: -1px;
line-height: 1.42857143;
color: white;
text-decoration: none;
background-color: #6441a5;
border: 1px solid #6441a5;
}
.endless_page_link:hover, .endless_page_current:hover{
text-decoration: none;
}
.pagination-esless{
margin: 0 auto;
margin-bottom: 25px;
float: right;
bottom: 0;
right: 15px;
position: absolute;
}
.glav_link:hover{
	text-decoration: none;
}
/*sitemap*/
.sitemap-content ul.sitemap-list, .sitemap-content ul.sitemap-list ul {
margin: 0;
padding: 0;
list-style-type: none;
line-height: 1;
}
.sitemap-content .sitemap-list .parent.li-level-0 {
float: left;
display: block;
margin-right: 40px;
}
.sitemap-content .sitemap-list .li-level-0 {
margin: 0 0 10px;
min-width: 150px;
max-width: 300px;
display: inline-block;
}
.sitemap-content ul.sitemap-list a.link-level-0 {
text-transform: uppercase;
}
.sitemap-content ul.sitemap-list a {
text-decoration: none;
font-size: 13px;
color: #fff;
}
.sitemap-content .sitemap-list .li-level-0 ul {
padding: 7px 0 0 17px;
}
.sitemap-content .sitemap-list .li-level-0 li {
line-height: 1.3;
position: relative;
padding: 1px 0 0 12px;
}
.sitemap-content ul.sitemap-list .li-level-1 a {
font-size: 13px;
color: #8d9599;
}
.sitemap-content .sitemap-list .li-level-0 li:before {
content: ' ';
display: block;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 0;
overflow: hidden;
border-left: 2px solid #454747;
}
.sitemap-content .sitemap-list .li-level-0 li:after {
content: ' ';
display: block;
position: absolute;
left: 2px;
top: 7px;
height: 0;
width: 3px;
overflow: hidden;
border-top: 2px solid #454747;
}
.sitemap-content{
	float:left;
}
/*social links*/
.social-links{
	float: right;
}
.social-links h3{
text-decoration: none;
font-size: 13px;
text-transform: uppercase;
color: #fff;
margin: 0;
margin-bottom: 30px;
}
.social-links a.fb {
display: block;
float: left;
margin: 0 0 0 6px;
overflow: hidden;
height: 68px;
text-indent: -9999px;
width: 83px;
background: url('../img/FB.png') no-repeat;
background-size: 70%;
}
.social-links a.vkk {
display: block;
float: left;
margin: 0 0 0 6px;
overflow: hidden;
height: 68px;
text-indent: -9999px;
width: 83px;
background: url('../img/VK.png') no-repeat;
background-size: 70%;
}
.social-links a.tw {
display: block;
float: left;
margin: 0 0 0 6px;
overflow: hidden;
height: 68px;
text-indent: -9999px;
width: 83px;
background: url('../img/Twitter.png') no-repeat;
background-size: 70%;
}

.form-cashout{
width: 300px;
margin: 0 auto;
}