{% extends 'core/base.html' %}

{% block title %}Вывести средства{% endblock %}



{% block content %}

    <div class="blog-main">

        <div class="tabs-settings">
               <div class="tabs-header-settings"></div>
               {% with u=request.resolver_match.url_name %}
               <input id="tab_1-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'payment-pay' %}checked="checked"{% endif %} />
	           <input id="tab_2-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'cashout' %}checked="checked"{% endif %} />
               <label onclick="javascript:document.location.href='{% url 'payment-pay' %}'" for="tab_1-settings" class="label-tabs-settings" id="tab_l1-settings">Пополнить счет</label>
	           <label onclick="javascript:document.location.href='{% url 'cashout' %}'" for="tab_2-settings" class="label-tabs-settings" id="tab_l2-settings">Вывести средств</label>
               {% endwith %}
               <div style="clear:both"></div>
               <div class="tabs_cont-settings">
               <div  class="pay-settings" id="tab_c1-settings"></div>

               <div id="tab_c2-settings">
                   <div class="form-cashout">
                        <form data-submit="FormCashoutCallback"  role="form" class="bets-form form-horizontal form-v2 ajaxify-form" action='{% url 'cashout' %}' method='post'>
                     <div style="display:none"><input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value=""></div>
                     <div class="form-group">
                         <h4>Выберете платежную систему</h4>
                         <select class="form-control" name="sistema">
                           <option value="0">WebMoney</option>
                           <option value="1">QIWI</option>
                          </select>
                     </div>
                     <div class="form-group">
                            <h4>Введите  номер телефона</h4>
                            <input placeholder="Введите номер телефона"  class="form-control" type="number" name="number" value="" id="summa">
                     </div>
                     <div class="form-group">
                           <h4>Введите сумму</h4>
                           <input placeholder="Введите сумму" class="form-control" type="number" name="summa" value="" id="summa">
                     </div>
                     <button class="btn btn-lg btn-primary btn-block submit-trigger" type="submit">Вывести</button>
                         </form>
                   </div><br>

                   <br>
               {% if  bids %}
                   <table class="table table-striped table-res">
              <thead>
                <tr>
                    <th>Дата заказа</th>
                    <th>Система</th>
                    <th>Кошелек</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                </tr>
              </thead>
              <tbody>
              {% for bid in bids %}
                <tr>
                  <td>{{ bid.created|date:"j/n/Y H:i:s" }}</td>
                  <td>{{ bid.get_system_display }}</td>
                  <td>{{ bid.number }}</td>
                  <td>{{ bid.sum }}</td>
                  <td>{{ bid.get_result_display }}</td>
                </tr>

              {% endfor %}
              </tbody>
            </table>
                {% endif %}

               </div>



               </div>

           </div>

    </div>


{% endblock %}