{% extends 'core/base.html' %}

{% block title %}Положить{% endblock %}



{% block content %}

    <div class="blog-main">

        <div class="tabs-settings">
               <div class="tabs-header-settings"></div>
               {% with u=request.resolver_match.url_name %}
               <input id="tab_1-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'payment-pay' %}checked="checked"{% endif %} />
	           <input id="tab_2-settings" class="input-tabs-settings" type="radio" name="tab-settings" {% if u == 'cashout' %}checked="checked"{% endif %} />
               <label onclick="javascript:document.location.href='{% url 'payment-pay' %}'" for="tab_1-settings" class="label-tabs-settings" id="tab_l1-settings">Пополнить счет</label>
	           <label onclick="javascript:document.location.href='{% url 'cashout' %}'" for="tab_2-settings" class="label-tabs-settings" id="tab_l2-settings">Вывести средств</label>
               {% endwith %}

               <div style="clear:both"></div>

               <div class="tabs_cont-settings">
               <div  class="pay-settings" id="tab_c1-settings">
                   {% if payments %}
                       <h2>Воспользуйтесь пакетом</h2>
                   {% endif %}
                   {% for pay in payments %}
                          <a class="link-pay-get" href="{% url 'payment-get' %}?sum={{ pay.sum }}&gift={{ pay.gift }}">
                              <div class="div-pay-get">Пополнить счет на {{ pay.sum }}р</div>
                              <div class="gift-pay-get">+ {{ pay.gift }}р в подарок</div>
                          </a>


                   {% endfor %}
                   <h2>Или укажите сумму сами</h2>
                   <form class="form-pay" action='{% url 'payment-get' %}' method='get'>
                     <div style="display:none"><input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value=""></div>
                     <input placeholder="Введите сумму" type="summa" name="summa" value="" id="summa">
                     <input class="pay-button" type="submit" value="Далее" />
                   </form>
               </div>

               <div id="tab_c2-settings">
               </div>



               </div>

           </div>

    </div>


{% endblock %}